@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.heading {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.icon:hover {
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.spinner-main {
    display: block;
    margin: 0px auto 0px auto;
}